@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
i {
  color: rgba(47, 63, 87, 255);
}

p,
span {
  color: rgba(99, 116, 142, 255);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark i {
  color: rgba(241, 241, 181, 255);
}

.dark p,
.dark span {
  color: rgba(236, 236, 236, 255);
}
